{% extends "book/parent.html" %}

{% block page %}
    <div class="container">
        {% if not created and not modified %}
            <div class="row justify-content-center">
                <h3>{% if not emplacement %}Créer un nouvel{% else %}Modifier le{% endif %} emplacement</h3>
            </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-8">
                {% if created or modified%}
                    <div class="card text-white bg-secondary mb-8">
                        <div class="card-body">
                            <p class="card-text text-center">L'emplacement a bien été {% if created %}créé{% else %}modifié{% endif %}</p>
                        </div>
                        <script>
                            $(document).ready(function () {
                                window.setTimeout(function () {
                                    location.href = "/specimen/{{ specimen.id }}/";
                                }, 2500);
                            });
                        </script>
                    </div>
                {% else %}
                    <form action="{% if not emplacement %}/ajouter_emplacement/{{ specimen.id }}/{% else %}/editer_emplacement/{{ emplacement.id }}/{% endif %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_date_entree">Date d&#39;entrée:</label>
                            <input class="form-control" placeholder="Date d'entrée" type="date" name="date_entree" required id="id_date_entree" value="{% if emplacement %}{{ emplacement.date_entree | date:'Y-m-d' }}{% else %}{{ now | date:'Y-m-d' }}{% endif %}"/>
                        </div>
                        <div class="form-group">
                            <label for="id_date_sortie">Date de sortie:</label>
                            <input class="form-control" placeholder="Date de sortie" type="date" name="date_sortie" id="id_date_sortie" value="{{ emplacement.date_sortie | date:'Y-m-d' | default:'' }}"/>
                        </div>
                        <div class="form-group hide">
                            <label for="id_specimen">Spécimen:</label>
                            <select class="form-control" name="specimen" required id="id_specimen">
                                <option value="{{ specimen.id }}" selected>{{ specimen.nom }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_terrarium">Terrarium:</label>
                            <select class="form-control" name="terrarium" required id="id_terrarium">
                                <option value="" {% if not emplacement %}selected{% endif %}>---------</option>
                                {% for terrarium in terrariums %}
                                    <option value="{{ terrarium.id }}" {% if terrarium.id == emplacement.terrarium.id %}selected{% endif %}>{{ terrarium.nom }} ({{ terrarium.longueur }} x {{ terrarium.largeur }} x {{ terrarium.hauteur }})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary col-2">Ajouter</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}