{% extends "book/parent.html" %}

{% block page %}
    <div class="container">
        {% if not created and not modified%}
            <div class="row justify-content-center">
                <h3>{% if not mesure %}Ajouter une nouvelle{% else %}Modifier la{% endif %} mesure</h3>
            </div>
        {% endif %}
    <div class="row justify-content-center">
        <div class="col-8">
            {% if created or modified %}
                <div class="card text-white bg-secondary mb-8">
                    <div class="card-body">
                        <p class="card-text text-center">La mesure a bien été {% if created %}ajouté{% else %}modifié{% endif %}</p>
                    </div>
                    <script>
                        $(document).ready(function () {
                            window.setTimeout(function () {
                                location.href = "/specimen/{{ specimen.id }}/";
                            }, 2500);
                        });
                    </script>
                </div>
            {% else %}
                <form action="{% if not mesure %}/ajouter_mesure/{{ specimen.id }}/{% else %}/editer_mesure/{{ mesure.id }}/{% endif %}" method="post">
                    {% csrf_token %}
                    {% for e in form.errors.values %}
                        {{ e }}
                    {% endfor %}
                    <div class="form-group">
                        <label for="id_date">Date:</label>
                        <input class="form-control" placeholder="Date de la mesure" type="date" name="date" required id="id_date" value="{% if mesure %}{{ mesure.date | date:'Y-m-d'}}{% else %}{{ now | date:'Y-m-d' }}{% endif %}"/>
                    </div>
                    <div class="form-group hide">
                        <label for="id_specimen">Spécimen:</label>
                        <select class="form-control" name="specimen" required id="id_specimen">
                            <option value="{{ specimen.id }}" selected>{{ specimen.nom }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_taille">Taille :</label>
                        <input class="form-control" placeholder="Taille en centimètre" type="number" name="taille" id="id_taille" step="0.01" value="{{ mesure.taille | floatformat | default:''}}"/></div>
                    <div class="form-group">
                        <label for="id_poids">Poids :</label>
                        <input class="form-control" placeholder="Poids en gramme" type="number" name="poids" id="id_poids" value="{{ mesure.poids | floatformat | default:'' }}"/></div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary col-2">{% if not mesure %}Créer{% else %}Modifier{% endif %}</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}