{% extends "book/parent.html" %}
{% load l10n %}

{% block page %}
    <div class="container">
        {% if not created and not modified%}
        <div class="row justify-content-center">
            <h3>{% if not achat %}Ajouter un {% else %}Modifier l'{% endif %}achat</h3>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-8">
                {% if created or modified %}
                    <div class="card text-white bg-secondary mb-8">
                        <div class="card-body">
                            <p class="card-text text-center">L'achat a bien été {% if created %}créé{% else %}modifié{% endif %}</p>
                        </div>
                        <script>
                            $(document).ready(function () {
                                window.setTimeout(function () {
                                    location.href = "/stock/";
                                }, 5000);
                            });
                        </script>
                    </div>
                {% else %}
                    <form action="{% if not achat %}/ajouter_achat/{% else %}/editer_achat/{{ achat.id }}{% endif %}" method="post">
                        {% csrf_token %}
                        <div class="form-group hide">
                            <label for="id_utilisateur">Utilisateur :</label>
                            <select class="form-control" name="utilisateur" required id="id_utilisateur">
                                <option value="{{ user.id }}" selected>{{ user }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_date">Date d&#39;achat:</label>
                            <input class="form-control" placeholder="Date d'achat" type="date" name="date" required id="id_date" value="{% if achat %}{{ achat.date | date:'Y-m-d' }}{% else %}{{ now | date:'Y-m-d' }}{% endif %}"/>
                        </div>
                        <div class="form-group">
                            <label for="id_lieu">Lieu d&#39;achat:</label>
                            <input class="form-control" placeholder="Lieu d'achat" type="text" name="lieu" maxlength="50" required id="id_lieu" value="{{ achat.lieu | default:'' }}"/>
                        </div>
                        <div class="form-group">
                            <label for="id_type">Type:</label>
                            <select class="form-control" name="type" required id="id_type">
                                <option value="" {% if not achat %}selected{% endif %}>---------</option>
                                {% for type_id, type_libelle in types.items %}
                                    <option value="{{ type_id }}" {% if type_id == achat.type %}selected{% endif %}>{{ type_libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_quantite">Quantité:</label>
                            <input class="form-control" placeholder="Quantité" type="number" name="quantite" required id="id_quantite" value="{{ achat.quantite | default:'' }}"/>
                        </div>
                        <div class="form-group">
                            <label for="id_prix">Prix d&#39;achat:</label>
                            <input class="form-control" placeholder="Prix d'achat" type="number" name="prix" step="0.01" required id="id_prix" value="{{ achat.prix | unlocalize | default:'' }}"/>
                        </div>
                         <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary col-2">{% if not achat %}Ajouter{% else %}Modifier{% endif %}</button>
                    </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}