{% extends "book/parent.html" %}
{% load static %}

{% block accueil %}
    active
{% endblock %}

{% block page %}
    <div class="container text-center">
        <h4>Spécimens</h4>
        <div class="row justify-content-center text-center">
            {% for specimen in specimens %}
                    <a class="specimen-card col-3" href="/specimen/{{ specimen.id }}">
                        <div class="row">
                            <div class="col-6 padding-0">
                                <object class="photo" data="/media/photos/{{ specimen.photos.last.filename }}" type="image/png">
                                    <img class="photo" src="{% static 'photo-snake.png' %}" />
                                </object>
                            </div>
                            <div class="col-6 description padding-0">
                                <h1>{{  specimen.nom }}</h1>
                                <p class="text-center">{{ specimen.espece }}</p>
                                <p class="text-center">{{ specimen.get_sexe_display | capfirst }}</p>
                                {% if specimen.alerter %}
                                    <img class="alerte" src="{% static 'mouse.png' %}" title="{{ specimen.nom }} doit-être nourri"/>
                                {% endif %}
                            </div>
                        </div>
                    </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}