{% extends "book/parent.html" %}
{% load static %}

{% block terrarium %}
    active
{% endblock %}

{% block page %}

    <script>
    jQuery(document).ready(function($) {
        $(".link").click(function() {
            window.document.location = $(this).data("href");
        });
    });
    </script>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-9">
                <a href="/ajouter_terrarium/" class="btn btn-secondary col-12">Ajouter un terrarium</a>
            </div>
        </div>

        <div class="row justify-content-center">
            <table class="table liste-terrarium">
                <tr>
                    <th scope="col" class="text-center">Terrarium</th>
                    <th scope="col" class="text-center">Taille</th>
                    <th scope="col" class="text-center">Bac à eau</th>
                    <th scope="col" class="text-center">Substrat</th>
                    <th scope="col" class="text-center">Désinfection</th>
                </tr>
                {% for terrarium in terrariums %}
                    <tr class="link" data-href="/terrarium/{{ terrarium.id }}/">
                        <td scope="row" class="text-center">{{ terrarium.nom }}</td>
                        <td class="text-center">{{ terrarium.longueur }} x {{ terrarium.largeur }} x {{ terrarium.hauteur }}</td>
                        <td class="text-center">
                            {% if terrarium.alerter_bac_eau %}
                                <img class="alerte" src="{% static 'goutte.png' %}" title="Le bac à eau doit-être nettoyé"/>
                            {% else %}
                                <img class="alerte" src="{% static 'goutte-none.png' %}" />
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if terrarium.alerter_substrat %}
                                <img class="alerte" src="{% static 'substrat.png' %}" title="Le substrat doit-être changé"/>
                            {% else %}
                                <img class="alerte" src="{% static 'substrat-none.png' %}"/>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if terrarium.alerter_desinfection %}
                                <img class="alerte" src="{% static 'eponge.png' %}" title="Le terrarium doit-être desinfecté"/>
                            {% else %}
                                <img class="alerte" src="{% static 'eponge-none.png' %}" />
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}